{% extends "layouts/base.html" %}
{% load tz %}
{% load static %}


{% block title %}PawPalace{% endblock %}

{% block content %}

<section class="bannerContainer">
    <div class="bannerDiv">
        <div class="image">
            <img src="{% static 'img/pets.png' %}" alt="">
        </div>

        <div class="shopText">
            <h2>Encuentra Miles De Productos</h2>
            <h3>Productos Para Tu Mascota</h3>
            <p class="p_Text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ullam, quod consequatur pariatur
                veritatis voluptas nulla quae iure eveniet provident impedit qui repellat ea blanditiis delectus consectetur
                facere necessitatibus sit!</p>
        </div>
    </div>
</section>

<section class="main">
    <aside class="filter">
        <h2 class="titleFilter">Filter</h2>
        <div class="Gender">
            <p class="subtitleFilter">Gender</p>
            <p><input type="checkbox" class="i_check">Male</p>
            <p><input type="checkbox" class="i_check">Female</p>
        </div>

        <div class="Color">
            <p class="subtitleFilter">Color</p>
            <p><input type="checkbox" class="i_check">Black</p>
            <p><input type="checkbox" class="i_check">Red</p>
            <p><input type="checkbox" class="i_check">Silver</p>
            <p><input type="checkbox" class="i_check">Apricot</p>
        </div>
    </aside>

    <div class="products">
        <div class="textProducts">
            <h2 class="titleProducts">Products</h2>
            <p class="numProduct">12 productos</p>
        </div>

        <div class="infoProduct">
            <div class="item">
                <img src="{% static 'img/Dog.png' %}" alt="" class="imgProduct">
                <h3>nombre producto</h3>
                <p>filtros del producto</p>
                <p>precio del producto</p>
            </div>
            <div class="item">
                <img src="{% static 'img/Dog.png' %}" alt="" class="imgProduct">
                <h3>nombre producto</h3>
                <p>filtros del producto</p>
                <p>precio del producto</p>
            </div>
            <div class="item">
                <img src="{% static 'img/Dog.png' %}" alt="" class="imgProduct">
                <h3>nombre producto</h3>
                <p>filtros del producto</p>
                <p>precio del producto</p>
            </div>
            <div class="item">
                <img src="{% static 'img/Dog.png' %}" alt="" class="imgProduct">
                <h3>nombre producto</h3>
                <p>filtros del producto</p>
                <p>precio del producto</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">
{% endblock %}