{% extends "layouts/base.html" %}

{% load static %}


{% block title %}LocalFood{% endblock %}

{% block content %}
<link type="text/css" href="{% static 'css/padministrativo.css' %}" rel="stylesheet">
<body>
<div class="all">
    <a href="{% url 'adm_recetas' %}" class="a_cards">
        <div class="div_cards" >
            <h2>PRONTO</h2>
            <i class="fa-solid fa-code"></i>
        </div>
    </a>
    <a href="{% url 'PQRS' %}" class="a_cards">
        <div class="div_cards" >
            <h2>PRONTO</h2>
            <i class="fa-solid fa-code"></i>
        </div>
    </a>
    <a href="{% url 'adm_recetas' %}" class="a_cards">
        <div class="div_cards" >
            <h2>PRONTO</h2>
            <i class="fa-solid fa-code"></i>
        </div>
    </a>
    <a href="{% url 'PQRS' %}" class="a_cards">
        <div class="div_cards" >
            <h2>PRONTO</h2>
            <i class="fa-solid fa-code"></i>
        </div>
    </a>
    <a href="{% url 'adm_recetas' %}" class="a_cards">
        <div class="div_cards" >
            <h2>PRONTO</h2>
            <i class="fa-solid fa-code"></i>
        </div>
    </a>
    <a href="{% url 'PQRS' %}" class="a_cards">
        <div class="div_cards" >
            <h2>PRONTO</h2>
            <i class="fa-solid fa-code"></i>
        </div>
    </a></div>
</body>
<script type = "text/javascript" src="{% static 'js/inicio.js' %}"></script>
{% endblock %}
