{% extends "layouts/base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/principal.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/normalize.css' %}"> -->
<script src="https://kit.fontawesome.com/5e42422cfe.js" crossorigin="anonymous"></script>

<article class="main">
    <section class="inicio">
        <div class="information">
            <h2 class="title">One More Friend</h2>
            <h3 class="subtitle">Thousands More Fun!</h3>
            <div class="buttons">
                <a class="btn_register" href="{% url 'login' %}">Enter Now <i class="fa-solid fa-user-plus"></i></a>
                <a class="btn_login" href="{% url 'signin' %}">View More <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
            </div>
        </div>
        
        <div class="decoration">
            <img src="{% static 'img/Señora.png' %}" alt="decoration" class="imagen">
            <div class="square1"></div>
            <div class="square2"></div>
        </div>
    </section>
    
    <section class="banner">
        <div class="card">
            <div class="imgContainer">
                <img src="{% static 'img/womandog.png' %}" alt="" class="imgWoman">
            </div>
            
            <div class="informationCard">
                <div class="Prueba">
                    <h2 class="titleCard">One More Friend</h2>
                    <h3 class="subtitleCard">Thousands More Fun!</h3>
                    <div class="buttons">
                        <a class="btn_register" href="{% url 'login' %}">Enter Now <i class="fa-solid fa-user-plus"></i></a>
                        <a class="btn_login" href="{% url 'login' %}">View More <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</article>
    
{% endblock %}