{% extends "layouts/base2.html" %}
{% load static %}
{% block title %}Suscripcion{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/suscripcion.css' %}">
<article class="article">
        <div class="article_container">
            <div class="subtitulo_container">
                <h2 class="subtitulo">Detalle suscripción</h2>
        </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus voluptatem ut deserunt numquam aperiam adipisci autem rem aut sint odio, molestiae ipsam modi minima corporis delectus similique odit quae quasi?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore alias quaerat distinctio esse ad expedita est ex reprehenderit ea cum modi quidem repellat labore, totam voluptates nesciunt dolore obcaecati? Odit?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet expedita delectus ut, dolore libero quasi vel, veritatis neque, dolorem pariatur maiores. Eos maxime velit deleniti provident alias tempora sequi fugiat.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum officiis quia fugiat error nihil exercitationem itaque nemo ipsum, dolore eius sit quas maiores fugit deserunt, reiciendis perspiciatis eos inventore iste?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non recusandae ab voluptatibus, illo ad sint repellendus, rerum maxime ipsa, quasi quos ut consequatur quas facilis ipsum. Voluptate voluptatibus veritatis non.
            </p>
            <br/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus voluptatem ut deserunt numquam aperiam adipisci autem rem aut sint odio, molestiae ipsam modi minima corporis delectus similique odit quae quasi?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore alias quaerat distinctio esse ad expedita est ex reprehenderit ea cum modi quidem repellat labore, totam voluptates nesciunt dolore obcaecati? Odit?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet expedita delectus ut, dolore libero quasi vel, veritatis neque, dolorem pariatur maiores. Eos maxime velit deleniti provident alias tempora sequi fugiat.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum officiis quia fugiat error nihil exercitationem itaque nemo ipsum, dolore eius sit quas maiores fugit deserunt, reiciendis perspiciatis eos inventore iste?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non recusandae ab voluptatibus, illo ad sint repellendus, rerum maxime ipsa, quasi quos ut consequatur quas facilis ipsum. Voluptate voluptatibus veritatis non.
            </p>

            <button type="button" class="btn">
                <i class="fa-solid fa-circle-plus"></i>
                Pagar suscripcion
            </button>
            
        </div>
    </article>

{% endblock %}
