{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5e42422cfe.js" crossorigin="anonymous"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        {% include "includes/headerAdmin.html" %}
    </header>
    <section>
        {% block content %} {% endblock %}
        {% block style %} {% endblock %}
        
    </section>
    <footer>
        {% include "includes/footer.html" %}
    </footer>
    
    
</body>
</html>