.card{
    margin-left: 100px; /* o tu valor de margen específico */
    margin-right: 100px; /* o tu valor de margen específico */
}

.card-title{
    margin-left: 20px; 
}

.body{
    background-color: #C5E892;

}