
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: space-between;
    padding:2% 2% 0% 2%;
    font-size: 25px;
}

.icons{
    cursor: pointer;
    color: #003459;
}
.icons:hover{
    color: #003459;
}
.icons:active{
    color: #003459;
}