@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Aleo', serif;
    
  }

.header{
    display: flex;
    align-content: center;
    padding: 15px;
    background: rgba(255, 255, 255, 1);
}


.cardnav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

.cardnav a img{
    float: left; 
    width: 190px; 
    margin-right: 5px; 
}

.cardnav ul {
    list-style: none;
    padding: 0;
    display: flex; 
}

.cardnav ul li {
    display: inline; 
    margin: 0 35px; 
    text-decoration: none;
}

.cardnav ul li a{
    font-weight: bold;
    color: #003459;
    text-decoration: none;
}

.search-form {
    display: flex;
}

.input-container {
    position: relative;
}

.input_nav_bar {
    padding: 13px; 
    background-color: #fff; 
    color: #003459; 
    text-decoration: none;
    border: none;
    border-radius: 30px; 
    cursor: pointer; 

}

.btn_search {
    position: absolute;
    /* right: 5px; 
    top: 50%;
    transform: translateY(-50%); */
    background: none;
    border: none;
    cursor: pointer;
}


form ~ a {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #003459; 
    color: #003459; 
    text-decoration: none;
    border: none;
    border-radius: 30px; 
    cursor: pointer; 
}


/* 
.options_container{
    font-size: 30px;
    margin: 10px;
    flex: 1;
    width: 100px;
}

.options_container i:hover{
    cursor: pointer;
}

.options_container i{
    margin-left: 50px;
    margin-top: 12px;
}

.option{
    display: none;
}

.options.active{
    display: flex;
    border-radius: 15px;
}

.list{
    display: none;
    position: absolute;
    z-index: 10;
    
}

.list_li_a{
    display: block;
    width: 100%;
}


.list_li{
    width: 100%;
}

.list.active{
    background: #fffdfd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    list-style-type: none;
    width: 25vw;
    height: 30vh;
    box-shadow: 0px 10px 10px 0px #414141;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    overflow-y: auto;
}

.list_li a:link, .list_li:visited,.list_li a{
    color: #1c0083;
    text-decoration: none;
    width: 100%;
}
.list_li a:hover{
    color: #8d0b0b;
    animation: animate1 1s linear infinite;
    transition: 1s;
}

.list_li:hover{
    scale: 1;
    transition: scale 0.5s, border 0.5s;
    border: 2px solid #414141;
    width: 100%;

}




.nav_conatiner{
    display: flex;
    justify-content: center;
    background: transparent;
    flex: 1;
    margin-left: 24px;
}

.nav_bar{
    margin: 10px;
    background: #545F7190;
    width: 40vw;
    border-radius: 30px;
    display: flex;
}

.input_nav_bar{
    background: transparent;
    color: #252525;
    outline: none;
    border: none;
    height: 100%;
    padding: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    flex: 7;
    font-size: 20px;
}

.input_nav_bar::placeholder{
    color: #C5E892;
}


.input_nav_bar:focus{
    border: 1px solid #252525
}

.btn_search{
    text-align: center;
    justify-content: center;
    align-content: center;
    background: #545F71a0;
    outline: none;
    border: none;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 20px;
    flex: 1;
}

.btn_search:hover{
    color: #C5E892;
    cursor: pointer;
}


.home_button{
    background: transparent;
    border: none;
    width: 300px; 
    height: 70px; 
   
}

img{
    position: center;
    width: 170px;
    display: flex;
    margin-left: 5px;
}

.container_space{
    width: 820px;
}
 */
