@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.bannerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
}

.bannerDiv{
    display: flex;
    font-family: 'Inter', sans-serif;
    background: #FCEED5;
    overflow: hidden;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    flex-wrap: wrap;
    width: 90%;
}

.image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}

img{
    width: 100%;
    object-fit: cover;
}

.shopText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    min-width: 600px;
    background:#002A48;
    color: #ffffff;
    flex-wrap: wrap;
}

.p_Text{
    width: 40vw;
    font-size: 12px;
}

.main{
    display: flex;
    font-family: 'Inter', sans-serif;
    margin-top: 4vh;
}

.filter{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: space-between;

}
.titleFilter{
    padding: 0;
    margin: 0;
    padding: 10px;

}

.subtitleFilter{
    font-weight: 500;
}

p{
    padding: 0;
    margin: 0;
}

.i_check{
    margin-right: 10px;   
}

.Gender{
    padding: 10px;
}

.Color{
    padding: 10px;
    border-top: 1px solid #dedede;
}

.products{
    flex: 7;
    display: flex;
    flex-direction: column;
}

.textProducts{
    display: flex;
}

.titleProducts{
    margin: 0;
}

.numProduct{
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-justify: end;
}

.infoProduct{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.item{
    width: 200px;
    height: 400px;
    background: #f8f8f8;
    padding: 20px;
    min-width: 250;
}

.imgProduct{
    object-fit: cover;
}