@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

body {
    background: rgba(255, 255, 255, 1);
    font-family: 'Aleo', serif;
}

.container {
    display: flex;
    width: 500px;
    height: 600px;
    background-color: #F7DBA7;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    align-items: center;
    justify-content: center;
}

.rombo {
    position: relative;
    left: 170px;
    top: -150px;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    background: #003459;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rombo2{
    position: relative;
    left: -200px;
    bottom: -150px;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    background: #003459;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.form_container{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 50px;
    justify-content: space-between;
    /* align-items: center;
    justify-content: center; */
    /* height: 50vh; */
    z-index: 1;
}

.form_container .name,
.form_container .inputs,
.form_container .send,
.form_container .forget {
    margin-bottom: 10px; 
}

.name{
    width: 30%;
}
/*
.inputs{
    width: 30%;
    height: 10%;
    margin-bottom: 5vh;
    border: none;
    outline: none;
    border-radius: 5px;
}

.inputs:focus{
    transition: border-bottom 0.5s;
    border-bottom: 3px solid #ee4bbd;
}

.send{
    width: 20%;
    height: 10%;
    border-radius: 5px;
    border: none;
    background: #545F71;
    color: #C5E892;
    cursor: pointer;
}
.send:active{
    background: #3d4450;
    color: #94b463;
}

.send:hover{
    transition: 1s scale;
    scale: 1.1;
}

.icon{
    margin-right: 10px;
}

.forget{
    margin-top: 20px;
} */