@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.all{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 600px;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Inter', sans-serif;
}

.div_cards{
    background: #002A48;
    width: 20vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    min-width: 300px;
}

.a_cards{
    display: flex;
    height: 30vh;
    text-decoration: none;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.a_cards:hover{
    transition: scale 1s;
    scale: 1.1;
}

.a_cards:link{
    color: #FFFFFF;
}
.a_cards:visited{
    color: #FFFFFF;
}