@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inicio{
    display: flex;
    background-color: #FCEED5;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    flex-wrap: wrap;
}

.information{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.decoration{
    flex: 1;
    overflow: hidden;
}

.title{
    font-size: 60px;
    color: #002A48;
    margin: 0;
    padding: 0;
}

.subtitle{
    font-size: 46px;
    color: #002A48;
    margin: 0;
    padding: 0;
}

.text{
    font-size: 24px;
    color: #242B33;
    display: inline-block;
}

.buttons{
    display: flex;
    margin-top: 4vh;

}

.btn_register{
    background: transparent;
    border: 2px solid #003459;
    color: #003459;
    font-size: 16px;
    padding: 15px;
    border-radius: 30px;
    margin-right: 10px;
}
.btn_register:link{
    color: #003459;
}
.btn_register:visited{
    color: #003459;
}

.btn_login{
    background: #003459;
    color: #FDFDFD;
    font-size: 16px;
    border: none;
    padding: 15px;
    border-radius: 30px;
    margin-left: 10px;
}

.btn_login:link{
    color: #FDFDFD;
}
.btn_login:visited{
    color: #FDFDFD;
}

.decoration{
    min-width: 600px;
    display: flex;
    justify-content: center;
}

.imagen{
    width: 300px;
    z-index: 30;
}

.square1{
    position: relative;
    left: -40vh;
    width: 250px;
    height: 40vh;
    border-radius: 20%;
    background: #003459;
    transform: rotate(9.35deg);
    z-index: 10;
}

.square2{
    position: relative;
    left: -70vh;
    width: 250px;
    height: 40vh;
    border-radius: 20%;
    background: #F7DBA7;
    transform: rotate(25.23deg);
    z-index: 20;
}

.banner{
    display: flex;
    justify-content: center;
    padding: 10vh;
    font-family: 'Inter', sans-serif;
}

.card{
    display: flex;
    background: #003459;
    overflow: hidden;
    height: 50vh;
    border-radius: 20px;
}

.imgContainer{
    flex: 1;
}

.imgWoman{
    width: 600px;
}

.informationCard{
    background: #FCEED5;
    flex: 1;
    z-index: 30;
    transform: rotate(45deg);
    border-radius: 90px;
    width: 550px;
    height: 550px;
}

.Prueba{
    width: 70%;
    height: 70%;
    transform: rotate(-45deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleCard{
    font-size: 30px;
    color: #002A48;
    margin: 0;
    padding: 0;
}

.subtitleCard{
    font-size: 20px;
    color: #002A48;
    margin: 0;
    padding: 0;
}

