{% extends "layouts/base.html" %} 
{% load static %} 
{% block title%}indexstock{% endblock %}
{% block content %}
<!-- CSS de Bootstrap -->
<link 
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
<link rel="stylesheet" href="{% static 'css/indexstock.css' %}" />

<body class="body">

    <h3 class="text-center ">{{busqueda}}</h3>
    <div class="card margen-color" >
      <div class="Table_Stock">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre Receta</th>
              <th>Imagen</th>
              <th>Preparación</th>
              <th>Ingredientes</th>
            </tr>
          </thead>

          <tbody>
            {%for R in recetas %}
            <tr>
              <td>{{R.id}}</td>
              <td>{{R.Nombre_receta}}</td>
              <td>
                <img src="{{R.imageproj.url}}" class="w-100"/>
              </td>
              <td> {{R.Descripcion}}</td>
              <td> {{R.Ingredientes}}</td>
              <td> <a name="" id="" class="btn btn-info" href="{%url 'editar_recetas' R.id%}" role="">Editar</a> 
                |
                  <a name="" id="" class="btn btn-danger" href="{%url 'eliminar_recetas' R.id%}" role="">Borrar</a>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>

      <div>
          <a class="btn btn-success" href="/crear_receta">Agregar Nuevo Producto</a>
        </div>
    </div>
</body>

<!-- JS de Bootstrap (si es necesario) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %}
