{% extends "layouts/base.html" %} 
{% load static %} 
{% block title%}CreateBook{% endblock %} 
{% block content %}

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
<link rel="stylesheet" href="{% static 'css/createstock.css' %}" />
<body class="body">
    <div class="card ">
    <div class="card-content">
        <h4 class="card-title">Datos del Producto</h4>

        {% include 'baseform.html' %}

    </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


{% endblock %}