{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

<div class="footer">
    <h3>Equipo de desarrollo</h3>
    <div class="footer_names">
        <ul class="names">
            <li class="names_li">Andres Felipe Arevalo</li>
            <li class="names_li">Andres Felipe Marchena</li>
            <li class="names_li">Andres Felipe Jaimes</li>
            <li class="names_li">Andres Felipe Carrillo</li>
        </ul>

        <ul class="footer_contacts">
            <li class="names_li"><a href="https://www.instagram.com/andres__are/" target="_blank">Instagram Arevalo</a></li>
            <li class="names_li"><a href="https://www.instagram.com/andresm_p2912/" target="_blank">Instagram Marchena</a></li>
            <li class="names_li"><a href="https://www.instagram.com/jaimes.andresfelipe/" target="_blank">Instagram Jaimes</a></li>
            <li class="names_li"><a href="https://www.instagram.com/pipe_2718/" target="_blank">Instagram Carrillo</a></li>
        </ul>
    </div>
</div>